/*  This is the css file for portfolio.*/

blue color  = #343d52
grey color =  #717786
light grey color = #858b97

/*  General settings  */

* {
    box-sizing: border-box;

}

.navbar {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    padding: 5%;
    background-color: #343d52;
    outline: solid red 5px;
 }

 .navitem {
    
 }

nav {
    outline: solid red 5px;
}

