/* 
MAIN CSS FILE FOR PORTFOLIO 
*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');




*{
  box-sizing: border-box;
  margin: 0;
  background-color: #031946;
  color: #e9ecef;
  font-family: 'Poppins', sans-serif;

}

ul a {
  color: #e9ecef;
}


/*  
*/
.project {
  background-color: #adb5bd;
  color: #212529;
}

/* 
 */
 .aboutContainer {
  font-weight: 700;
  color: #031946;
  background-color: white;
 }

 #skills {
   min-height: 200px;
 }